:root {
	/* **Font Size */
	--text-xxs: 0.25rem;
	--text-xs: 0.50rem;
	--text-sm: 0.75rem;
	--text-md: 1rem;
	--text-r: 1.25rem;
	--text-lg: 1.5rem;
	--text-xl: 1.75rem;
	--text-xxl: 2.25rem;

	/* **Color */
	--text-darker-01: #0d1b2a;
	--text-black: #2b2d42;
	--text-gray: #dee2e6;
	--text-dark-gray: #adb5bd;
	--text-white: #f8f9fa;
	--text--dark-blue: #072ac8;

	/* **Background Color */
	--bg-darker-01: #0d1b2a;
	--bg-black: #2b2d42;
	--bg-gray: #E5E7EB;
	--bg-white: #f8f9fa;
	--bg-dark-blue: #072ac8;
	--bg-blue: #1789fc;
	--bg-light-blue: #2ec0f9;

	/* **Space */
	--space-xxs: 0.25em;
	--space-xs: 0.50em;
	--space-sm: 0.75em;
	--space-md: 1em;
	--space-r: 1.25em;
	--space-lg: 1.50em;
	--space-xl: 1.75em;
	--space-xxl: 2.25em;

	/* **Shadow */
	--shadow-header: 0 0.25em 0.25em rgb(0 0 0 / 0.15);
	--shadow-book: 0.31em 0.31em 0.25em 0.06em rgb(0 0 0 / 0.1);

	/* **Border */
	--br-r: 0.4em;
	--br-lg: 0.65em;

	/* **Dark Mode */
	color-scheme: light dark;
}