@import "custom-properties.css";
@import "font.css";

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: light-dark(var(--bg-white), var(--bg-black));
	font: var(--text-md) / 1.5 "Funnel Display", sans-serif;
	color: light-dark(var(--text-black), var(--text-white));
}

h1,
h2,
h3,
p {
	hyphens: auto;
	overflow-wrap: break-word;
	text-wrap-mode: wrap;
	white-space: wrap;
	word-break: break-word;
}

h1,
h2,
h3 {
	text-wrap-style: pretty;
}

p {
	text-wrap-style: balance;
}

button,
label {
	cursor: pointer;
}

button,
input {
	font: inherit;
}

button {
	background-color: transparent;
	border: none;
	user-select: none;
}

input {
	padding-block: var(--space-md);
	padding-inline: var(--space-sm);
	outline: none;
}

img,
svg {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}